body {
  background-color: rgb(146, 231, 237);
  margin: 0;
  padding: 0px;
  display: grid;
  justify-content:center;
  align-items: center;
}


#dropdown{
  margin:auto;
  padding: 15px;
}
#locDiv{
  margin:auto;
  padding: 15px;
}
#sizeDiv{
  margin:auto;
  padding: 15px;
}
#ageDiv{
  margin:auto;
  padding: 15px;
}
#houseTrainedDiv{
  margin:auto;
  padding: 15px;
}
#sexDiv{
  margin:auto;
  padding: 15px;

}
#goodWith{
  margin:auto;
  padding: 15px;
}
.resultDiv {
  margin:auto;
  padding: 15px;

}

#locDiv{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 68px;


}
#sizeDiv{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 160px;


}
#ageDiv{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 232px;


}
#houseTrainedDiv{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 126px

}
#sexDiv{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 248px;
  


}
#goodWith {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-content: center;

}

/* not going to be centered, used padding*/


#breedDiv button {
  display: block;
  width: 80%;
  padding: 10px;
  background-color: rgb(253,163,58);
  border: solid .5px;
  cursor: pointer;
  margin: auto;

  
}

.resultDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

}

#dogImg {
  display: flex;
  justify-content: center;
}

#dContainer,
#pContainer {
  background-color:  rgb(146, 231, 237);
  padding: 20px;
}

img {
  width: 400px;
  margin:auto;
}

#youngDiv, #seniorDiv
{
  margin-left: -36px;
}

#femaleDiv
{
  margin-left: -43px;
}